.git
.github
.gitkeep
.gitignore
.vscode
dist
build
.venv
venv
.env
env
__pycache__
*.py[cod]
*.egg-info
.eggs
.ruff_cache
.mypy_cache
.pytest_cache
.coverage
htmlcov
.dockerignore
Dockerfile
compose.yml
compose.*.yml
docker-compose*.yml
*.properties
*.json
