hgroup,
h1,
h4 {
    text-align: center;
}

.icon {
    --h1-font-size: 2rem;
    width: calc(2 * var(--h1-font-size));
    height: auto;
    border-radius: calc(0.5 * var(--h1-font-size));
}

.about,
.changelog {
    padding: 0 var(--pico-spacing);
}

table {
    table-layout: fixed;
}