{% extends "base.html" %}

{% block head %}

<link rel="icon" href="{{ icon_url }}" />

{% if config.add_to_obtainium and details.versionCode != 0 %}
<meta http-equiv="refresh" content="0; url=obtainium://app/{{ obtainium_config }}">
{% endif %}

{% endblock %}

{% block body %}

<main class="container">
    <hgroup>
        <img src="{{ icon_url }}" alt="{{ app.title }} icon" class="icon" />
        <h1><span class="title">{{ app.title }}</span></h1>
        <span class="developer">{{ details.developerName }}</span>
    </hgroup>

    <table>
        {% if details.versionCode != 0 %}
        <tr>
            <td>Version</td>
            <td><span class="version">{{ details.versionString }}</span></td>
        </tr>
        <tr>
            <td>Updated on</td>
            <td><span class="update-date">{{ details.infoUpdatedOn }}</span></td>
        </tr>
        {% endif %}
        <tr>
            <td>Application ID</td>
            <td><span class="package-id">{{ package }}</span></td>
        </tr>
    </table>

    <div class="actions" role="group">
        {% if details.versionCode != 0 %}
        <a href="obtainium://app/{{ obtainium_config }}" role="button">Add to Obtainium</a>
        <a href="{{ package }}-{{ version_code }}.xapk" role="button" class="outline">Download XAPK</a>
        {% else %}
        <button class="outline" disabled>Download not available</button>
        {% endif %}
    </div>

    {% if changes %}
    <h4>What's new</h4>
    <div class="changelog">{{ changes | safe }}</div>
    {% endif %}

    {% if about %}
    <h4>About this app</h4>
    <div class="about">{{ about | safe }}</div>
    {% endif %}
</main>

{% endblock %}